* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.navbar-nav .nav-link.active {
    color: #D7263D;
}

.card-img-top {
    height: 250px;
    object-fit: contain;
}

.hero {
    position: relative;
    background-image: url('./assets/image/hero.png');
    background-size: cover;
    background-position: top center;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ECECEC;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 111;
}

.hero-content {
    position: relative;
    z-index: 222;
    text-align: center;
}